<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="{{ my_page.url | prepend: site.baseurl }}/" class="bright-image"><img src="{{ my_page.url | prepend: site.baseurl }}/img/assets/beer-can-patch-resize.png" alt="baseball"></a>
      </div>

      <div class="footer-col footer-col-2">
        
      </div>

      <div class="footer-col footer-col-3">
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}<br><br>View this page on <a href="https://github.com/colinswinney/goodnight-loving/tree/gh-pages" target="_blank">GitHub</a> {% include icon-github.html username=site.github_username %}</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Copyright &copy; {{ site.time | date: '%Y' }} <a href="mailto:{{ site.email }}">Colin Swinney</a></p>
    </div>

  </div>

</footer>
<script src="{{ my_page.url | prepend: site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ my_page.url | prepend: site.baseurl }}/js/lightbox.min.js"></script>
<script>
    lightbox.option({
      'alwaysShowNavOnTouchDevices': true,
      'wrapAround': true
    })
</script>
