<!-- image underlay -->
<div class="header-underlay" style="
{% if page.image %}
    background-image:url('{{ page.image | prepend: site.baseurl }}');
{% endif %}
{% if page.background_position %}
    background-position: {{ page.background_position }};
{% endif %}

"></div>
<!-- end underlay -->
<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.nickname }}<!-- <img src="{{ my_page.url | prepend: site.baseurl }}/img/assets/baseball-patch-bright.png" alt="baseball" height="60" width="60">--></a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        {% include icon-hamburger.svg %}
      </a>
      
      {% assign pages = site.pages | sort:"weight"  %}
      <div class="trigger">
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="page-link {% if my_page.url == page.url %}active{% endif %}" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

  {% if page.title %}
    <h2 class="site-header-page-title">{{ page.title }}</h2>
    {% else %}
    <h2 class="site-header-page-title">{{ site.title }}</h2>
  {% endif %}

</header>
