/**
 * Site header
 */

.header-underlay {
    position:absolute;
    background-color:black;
    background-image:url('../img/optimized/vertical-house-bw.jpg');
    min-height: 692px;
    width:100%;
    top:0;
    background-size:cover;
    background-position:50% 30%;

    @include media-query-minimum ($on-desktop) {
        background-attachment:fixed;
    }

    &:before {
        content:'';
        position:absolute;
        min-height: 692px;
        width:100%;
        top:0;
        background: -moz-linear-gradient(top,  rgba(17,17,17,1) 0%, rgba(0,0,0,0.4) 30%, rgba(19,19,19,0.1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(17,17,17,1) 0%, rgba(0,0,0,0.4) 30%, rgba(19,19,19,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(17,17,17,1) 0%, rgba(0,0,0,0.4) 30%, rgba(19,19,19,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#1a131313',GradientType=0 ); /* IE6-9 */
    }
 }

 .site-header {
    min-height: 692px;
    position: relative;
    font-family: $cursive-font-family;
    text-shadow: -1px 1px 1px $grey-color-dark;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:$background-color;

    .wrapper {
        max-width: none;
        margin:auto;
    }

    .site-header-page-title {
        text-align:center;
        font-size: 5em;
        line-height: 1;
        position: absolute;
        top:50%;
        transform: translate(0, -50%);
        width:94%;
        margin:auto 3%;
        text-shadow: -1px 1px 1px rgba($text-color, 1), -1px 0px 30px rgba($brand-blue-dark, 0.9);

        @include media-query ($on-palm) {
            font-size: 3.5em;
        }
    }
}

.site-title {
    font-size: $base-font-size * 2;
    line-height: 80px;
    float: left;
    color:$background-color;

    img {
        height:60px;
    }

    &:hover {
        color:$brand-blue-light;
        text-decoration: none;
        text-shadow: -1px 1px 1px $text-color;
    }

    @include media-query ($on-laptop) {
        line-height: 60px;
    }
}

.site-nav {
    float: right;
    line-height: 90px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $background-color;
        font-size: $base-font-size * 1.5;
        line-height: 1;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: $spacing-unit;
        }
        &:hover {
            color:$brand-blue-light;
            text-decoration: none;
            text-shadow: -1px 1px 1px $text-color;
        }
        &.active {
            color:$brand-blue-light;
            cursor: default;
            text-shadow: -1px 1px 1px $text-color;
        }
    }

    @include media-query ($on-laptop) {
        line-height: 70px;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 12px;
        right: $spacing-unit / 2;
        border-radius: 5px;
        text-align: right;
        background-color:$background-color;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: $spacing-unit / 3 $spacing-unit / 2;
            color:$brand-color;
            text-shadow: none;

            &:not(:last-child) {
                margin-right: 0;
            }
            &:hover {
                color:$brand-blue;
                text-decoration:underline;
                text-shadow: none;
            }
            &.active {
                color:$brand-blue;
                cursor: default;
                text-decoration:none;
                text-shadow: none;
            }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit * 2 0 0 0;
    text-align:right;
    
    h1, h2, h3, h4, h5, h6 {
        color: $grey-color-dark;
    }
    p {
        color:$grey-color;
    }
}

.footer-col-wrapper {
    font-size: $small-font-size;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
    text-align: left;
    padding-left: -$spacing-unit / 2;

    @include media-query($on-laptop) {
        text-align:right;
    }
}

.footer-col-2 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}
.footer-bottom {
    font-size: $small-font-size;
    text-align: center;
    margin-top: $spacing-unit;

    h2 {
        margin-bottom:$spacing-unit / 6;
    }

    #copyright {
        margin-top: $spacing-unit;
        font-size: $base-font-size * 0.75;
    }
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit}));
        width:         calc(100% - (#{$spacing-unit}));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit}));
        width:         calc(100% - (#{$spacing-unit}));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit}));
        width:         calc(100% - (#{$spacing-unit}));
    }
}


// BREADCRUMBS 
.breadcrumb-wrapper {
    padding-top: $spacing-unit / 2;
    margin-bottom:$spacing-unit;
    border-bottom: 1px solid $grey-color-light;
    font-size: $base-font-size * 0.75;
    text-transform:uppercase;
    color:$grey-color;

    a {
        font-weight: 400;
    }
}




// HOME 
.home {
    text-align:center;

    .home-section {
        padding:$spacing-unit * 2 0;
        border-top:1px solid $grey-color-light;

        &:first-of-type {
            border-top: none;
        }
        &:last-of-type {
            padding-top:$spacing-unit;
            padding-bottom: 0;
            margin-bottom: 0;

            @include media-query($on-laptop) {
                border-bottom:1px solid $grey-color-light;
                padding-bottom:$spacing-unit;
            }
        }

        .section-title {
            font-size: 3em;
            margin-bottom: $spacing-unit;
            line-height: 1;

            &:after {
                content: '';
                width: 100px;
                background: $grey-color-light;
                display: block;
                height: 1px;
                margin:$spacing-unit - 9px auto 0;
            }
        }

        .home-video-wrapper {
            width: 400px;
            display: block;
            margin:auto;

            @include media-query ($on-palm) {
                width:300px;
            }
        }

        .more-button {
            margin:$spacing-unit auto auto auto;
        }

        .post-link {
            margin:$spacing-unit / 3 auto 0;
        }
    }
}





















// ABOUT PAGE
.about-page-image {
    display: block;
    margin:$spacing-unit / 2;
    width:50%;

    &.right {
        float:right;
        margin-top:5px;
        margin-right: 0;

        @include media-query($on-palm) {
            width: 100%;
            float: none;
            margin:$spacing-unit / 2 auto;
        }
    }

    &.left {
        float: left;
        margin-left: 0;

        @include media-query($on-palm) {
            width: 100%;
            float: none;
            margin:$spacing-unit / 2 auto;
        }
    }

    &.full {
        width:100%;
        margin:0;
    }
}




